<!DOCTYPE html>
<html>
  <head>
     <!-- link style font-weight 300 y 600-->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap" rel="stylesheet">
    <meta charset="utf-8" />
    <title>About me</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>Eminem</h2>
    <p>Eminem was born in St. Joseph, Missouri, and grew up in Detroit, Michigan. He is known for his honest and often controversial lyrics that address topics such as his own life, poverty, relationships, politics, and criticism of the music industry. He has released numerous successful albums, including "The Slim Shady LP," "The Marshall Mathers LP," and "Recovery." Eminem has also won several awards, including 15 Grammy Awards and an Oscar for his song "Lose Yourself" from the movie "8 Mile," in which he also acted.</p>
</body>
</html>
