<!DOCTYPE html>
<html>
  <head>
         <!-- link style font-weight 300 y 600-->
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap" rel="stylesheet">    
    <meta charset="utf-8" />
    <title>Welcome to My Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Step into the world of Slim Shady and discover the genius of Eminem on our website!</h1>
    <div class="image-center"><img src="/images/eminen.png" alt="eminem-artist"></div>
    <div class="buttons-style">
    <a class="buttons-style-margin" href="/about">See About</a>
    <a class="buttons-style-margin" href="/works">See Projects</a>
</div>
  </body>
</html>
