<!DOCTYPE html>
<html>
  <head>
         <!-- link style font-weight 300 y 600-->
         <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap" rel="stylesheet">    
    <meta charset="utf-8" />
    <title>Projects</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h2>Biggest Projects</h2>
    <ul>
        <li>The Marshall Mathers LP" (2000): This album is considered a hip-hop classic and is widely regarded as one of Eminem's best works. It features hit singles such as "The Real Slim Shady" and "Stan," and showcases Eminem's sharp lyricism and storytelling abilities.</li>
        <li>The Eminem Show" (2002): This album was another commercial and critical success for Eminem, debuting at number one on the Billboard 200 chart. It features popular songs such as "Without Me" and "Cleanin' Out My Closet," and showcases Eminem's versatility as an artist.</li>
    <li>Recovery" (2010): After a period of personal and creative struggles, Eminem bounced back with this album, which was both a commercial and critical success. It features hit singles such as "Not Afraid" and "Love the Way You Lie," and is regarded as one of Eminem's most emotionally honest and introspective works.</li>
    </ul>
  </body>
</html>